body.dark {
   background-color: #333;

   // .switch {
   //    background-color: #555 !important;
   //    &::before {
   //       background-color: black;
   //    }
   // }

   .player {
      .dashboard-container {
         background-color: black;
         border-color: #333;
         h2 {
            color: #ccc;
         }
         .volumeSlider,
         .timeSlider {
            background-color: #333;
         }

         .song-lyric {
            .lyric.active {
               color: #ffed00;
            }
         }
      }

      .song-item {
         background-color: black;
         color: white;
         &.active {
            background-color: #823d3d !important;
         }
      }
      .timeSliderCurrenth {
         background-color: #999;
      }
      .play-btn {
         color: black;
      }
      & ~ .menu {
         .menu-header {
            background-color: #333;
            color: #fff;
            .closeMenu {
               color: #999;
            }
         }
         .menu-body {
            background-color: #222;
            color: #fff;
         }
         .level2 {
            background-color: #222;
            color: #fff;
            .header {
               button {
                  color: #fff;
               }
            }
         }
         .separate {
            border-color: rgba($color: #fff, $alpha: 0.1) !important ;
         }
         .contact a {
            color: #fff !important;
            background-color: rgba($color: #fff, $alpha: 0.1);
         }
      }
   }
}
