@import "common";

.player {
   position: fixed;
   inset: 0;
   display: flex;
   flex-direction: column;
   .dashboard-container {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-bottom: 8px solid #e1e1e1;

      .dashboard {
         display: flex;
         flex-direction: column;
         padding: 16px 20px 16px;
         width: 100%;
      }

      @mixin hide {
         pointer-events: none;
         height: 0;
         opacity: 0;
         margin: 0;
         padding: 0;
      }

      .song-info {
         position: relative;
         margin-top: 8px;
         cursor: pointer;

         &.hide {
            @include hide();
         }

         .title-wrapper {
            overflow: hidden;
            position: relative;
            width: 90%;
            margin: 0 auto;
            height: 30px;

            h2 {
               position: absolute;
               white-space: nowrap;
               left: 0;
               min-width: 100%;
               font-size: 2.5rem;
               font-weight: 500;
               text-align: center;
            }
         }
         h4 {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            color: #f35858;
            width: 80%;
            margin: 0 auto;
         }

         .musical-note {
            position: absolute;
            top: 0;
            right: 0;
            color: #666;
         }
      }

      .song-info-small {
         font-size: 1.4rem;
         color: #666;
         margin-top: 8px;
         text-align: center;

         &.hide {
            @include hide();
         }
      }

      .song-lyric {
         cursor: pointer;
         position: relative;
         height: 30vh;
         padding-top: 12px;
         overflow: auto;
         text-align: center;
         color: #666;
         font-size: 2.4rem;
         font-weight: 700;

         @include sm {
            font-size: 2.8rem;
         }

         &.hide {
            @include hide();
         }

         .lyric {
            padding-top: 20px;
            &.active {
               color: #f35858;
            }

            &:last-child {
               padding-bottom: 10vh;
            }
         }
      }

      //   menu button
      .openMenu {
         position: absolute;
         display: flex;
         align-items: center;
         color: #666;
         top: 4px;
         left: 4px;
         padding: 4px;
      }

      .slider {
         &::after,
         &::before {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
         }

         &::after {
            top: 100%;
         }
         &::before {
            bottom: 100%;
         }

         .holder {
            position: absolute;
            top: 0;
            left: 0;
            color: rgb(243, 88, 88);
            transform: translate(-50%, -30%);
         }
      }

      .volume-slider,
      .time-slider {
         height: 6px;
         margin-top: 20px;
         position: relative;
         display: flex;
         cursor: pointer;
         border-radius: 5px;

         @include sm {
            margin-top: 30px;
         }
      }

      .volume-slider {
         display: none;
         @include sm {
            display: block;
         }
      }

      .time {
         font-size: 1.6rem;
         font-weight: 500;
         margin-top: 12px;
         display: flex;
         justify-content: space-between;
         color: #f35858;
         .current-time {
            color: #999;
         }
      }

      // .cd {
      //    margin: 10px auto 10px;
      //    width: 200px;
      //    display: flex;
      //    .cd-img {
      //       padding-top: 100%;
      //       background-size: cover;
      //       background-position: center;
      //       border-radius: 50%;
      //       width: 100%;
      //       animation: spin 12s linear infinite paused;
      //    }
      // }

      .control {
         display: flex;
         justify-content: space-between;
         margin-top: 12px;

         @media screen and (min-width: 550px) {
            margin-top: 30px;
         }

         .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
            height: 40px;
            width: 40px;
            cursor: pointer;

            &.active {
               color: rgb(243, 88, 88);
            }
            span {
               display: inline-flex;
            }
         }

         .play-btn {
            color: #fff;
            border-radius: 50%;
            background-color: rgb(243, 88, 88);
            .wait-icon {
               animation: spin 1s linear infinite;
               display: none;
            }
            .pause-icon {
               display: none;
            }

            &.playing {
               .pause-icon {
                  display: inline-flex;
               }
               .play-icon {
                  display: none;
               }
               .wait-icon {
                  display: none;
               }
            }
            &.waiting {
               .wait-icon {
                  display: inline-flex;
               }
               .play-icon {
                  display: none;
               }
            }
         }
      }
   }

   .song-list {
      position: relative;
      flex-grow: 1;
      overflow: auto;
      padding: 0 8px 10px;
   }
}
