.player {
   min-height: 100vh;
   .dashboard-container {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-bottom: 8px solid #e1e1e1;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;

      .dashboard {
         display: flex;
         flex-direction: column;
         padding: 16px 20px 16px;
         width: 100%;
      }

      .title-wrapper {
         overflow: hidden;
         position: relative;
         width: 90%;
         margin: 0 auto;
         height: 30px;
         -webkit-mask-image: linear-gradient(
            90deg,
            hsla(0, 0%, 100%, 0),
            hsla(0, 0%, 100%, 0.8) 1%,
            #fff 1%,
            #fff 99%,
            hsla(0, 0%, 100%, 0.8) 1%,
            hsla(0, 0%, 100%, 0)
         );

         h2 {
            position: absolute;
            white-space: nowrap;
            left: 0;
            min-width: 100%;
            font-size: 2.5rem;
            font-weight: 500;
            text-align: center;
         }
      }
      h4 {
         text-align: center;
         font-size: 1.4rem;
         font-weight: 500;
         color: #f35858;
         width: 90%;
         margin: 20px auto 0;
      }

      //   menu button
      .openMenu {
         position: absolute;
         color: #666;
         top: 7px;
         left: 5px;
         font-size: 2rem;
         padding: 5px;
      }

      .slider {
         &::after,
         &::before {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
         }

         &::after {
            top: 100%;
         }
         &::before {
            bottom: 100%;
         }

         .holder {
            position: absolute;
            top: 0;
            left: 0;
            color: rgb(243, 88, 88);
            transform: translate(-50%, -30%);
         }
      }

      .volume-slider,
      .time-slider {
         height: 6px;
         margin-top: 20px;
         position: relative;
         display: flex;
         cursor: pointer;
         border-radius: 5px;

         @media screen and (min-width: 550px) {
            margin-top: 30px;
         }
      }

      .volume-slider {
         display: none;
         @media screen and (min-width: 550px) {
            display: block;
         }
      }

      .time {
         font-size: 1.6rem;
         font-weight: 500;
         margin-top: 12px;
         display: flex;
         justify-content: space-between;
         color: #f35858;
         .current-time {
            color: #999;
         }
      }

      .cd {
         margin: 10px auto 10px;
         width: 200px;
         display: flex;
         .cd-img {
            padding-top: 100%;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            width: 100%;
            animation: spin 12s linear infinite paused;
         }
      }

      .control {
         display: flex;
         justify-content: space-between;
         .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
            height: 40px;
            width: 40px;
            &.active {
               color: rgb(243, 88, 88);
            }
            span {
               display: inline-flex;
            }
         }

         .play-btn {
            color: #fff;
            border-radius: 50%;
            background-color: rgb(243, 88, 88);
            .wait-icon {
               animation: spin 1s linear infinite;
               display: none;
            }
            .pause-icon {
               display: none;
            }

            &.playing {
               .pause-icon {
                  display: inline-flex;
               }
               .play-icon {
                  display: none;
               }
               .wait-icon {
                  display: none;
               }
            }
            &.waiting {
               .wait-icon {
                  display: inline-flex;
               }
               .play-icon {
                  display: none;
               }
            }
         }
      }
   }
}
