@use "./common" as *;

.player {
   .dashboard {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
      background-color: var(--dashboard-color);
      border-bottom: 8px solid var(--body-color);
      padding: 16px 20px 16px;

      @mixin hide {
         pointer-events: none;
         height: 0;
         opacity: 0;
         margin: 0;
         padding: 0;
      }

      .song-info {
         position: relative;
         margin-top: 8px;
         cursor: pointer;

         &.hide {
            @include hide();
         }

         .title-wrapper {
            overflow: hidden;
            position: relative;
            width: 90%;
            margin: 0 auto;
            height: 30px;

            h2 {
               position: absolute;
               white-space: nowrap;
               left: 0;
               min-width: 100%;
               font-size: 2.5rem;
               font-weight: 500;
               text-align: center;
            }
         }
         h4 {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--primary-color);
            width: 80%;
            margin: 0 auto;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
         }

         .musical-note {
            position: absolute;
            top: 0;
            right: 0;
            color: #666;
         }
      }

      .song-info-small {
         font-size: 1.4rem;
         color: #666;
         margin-top: 8px;
         text-align: center;
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;

         &.hide {
            @include hide();
         }
      }

      .song-lyric {
         cursor: pointer;
         position: relative;
         height: 50vh;
         padding-top: 12px;
         overflow: auto;
         font-size: 2rem;
         font-weight: 700;

         @include sm {
            font-size: 2.8rem;
         }

         &.hide {
            @include hide();
         }

         .lyric {
            padding-top: 20px;
            width: 70%;
            opacity: 0.4;
            &.active {
               transform: scale(1.3);
               transition: transform linear 0.25s;
               transform-origin: left;
               opacity: 1;
            }

            &:last-child {
               padding-bottom: 10vh;
            }
         }
      }

      //   menu button
      .openMenu {
         position: absolute;
         display: flex;
         align-items: center;
         color: #666;
         top: 4px;
         left: 4px;
         padding: 4px;
      }

      .slider {
         &::after,
         &::before {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
         }

         &::after {
            top: 100%;
         }
         &::before {
            bottom: 100%;
         }

         .holder {
            position: absolute;
            top: 0;
            left: 0;
            color: var(--primary-color);
            transform: translate(-50%, -40%);
         }
      }

      .volume-slider,
      .time-slider {
         height: 6px;
         margin-top: 20px;
         position: relative;
         display: flex;
         cursor: pointer;
         border-radius: 5px;

         @include sm {
            margin-top: 30px;
         }
      }

      .volume-slider {
         display: none;
         @include sm {
            display: block;
         }
      }

      .time {
         font-size: 1.6rem;
         font-weight: 500;
         margin-top: 12px;
         display: flex;
         justify-content: space-between;
         color: var(--primary-color);
         .current-time {
            color: #999;
         }
      }

      .control {
         display: flex;
         justify-content: space-between;
         margin-top: 12px;

         @include sm {
            margin-top: 30px;
         }

         .btn {
            cursor: pointer;
            color: #666;

            span {
               display: flex;
               height: 40px;
               width: 40px;
               align-items: center;
               justify-content: center;
            }

            &.active {
               color: rgb(243, 88, 88);
            }
         }

         .play-btn {
            color: #fff;
            border-radius: 50%;
            background-color: var(--primary-color);
            .wait-icon {
               animation: spin 1s linear infinite;
               display: none;
            }
            .pause-icon {
               display: none;
            }

            &.playing {
               .pause-icon {
                  display: block;
               }
               .play-icon {
                  display: none;
               }
               .wait-icon {
                  display: none;
               }
            }
            &.waiting {
               .wait-icon {
                  display: block;
               }
               .play-icon {
                  display: none;
               }
            }
         }
      }
   }

   .song-list {
      padding: 0 8px 10px;
      position: relative;
      padding-top: 210px;
   }

   .go-top-btn {
      position: fixed;
      padding: 8px;
      transform: translateY(10px);
      transition:
         transform linear 0.25s,
         opacity linear 0.25s;
      opacity: 0;
      pointer-events: none;

      bottom: 90px;
      right: 20px;

      background-color: #fff;
      box-shadow: 2px 2px 16px rgba($color: #000000, $alpha: 0.15);
      border-radius: 50%;
      color: #f35858;

      &.show {
         transform: translateY(0);
         opacity: 1;
         pointer-events: all;
      }
   }

   &.expand {
      .song-list {
         padding-top: 350px;
      }
      @include sm() {
         .song-list {
            padding-top: 10px;
         }
      }
   }
}
