#input:checked ~ .modal_overplay {
   display: block;
}

#input:checked ~ .menu {
   transition:
      transform linear 0.3s,
      opacity linear 0.3s;
   transform: translateX(0%);
   opacity: 1;
}

// menu
.menu {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   width: 70%;
   max-width: 350px;
   opacity: 0.5;
   transform: translateX(-100%);
   transition:
      transform linear 0.15s,
      background-color linear 0.15s,
      opacity linear 0.15s;
   z-index: 2;
   background-color: var(--body-color);

   .close-sidebar-btn {
      position: absolute;
      top: 12px;
      right: 12px;
      font-size: 2rem;
      padding: 5px;
      z-index: 9;
   }

   // .menu-header {
   //    padding: 0 15px;
   //    height: 60px;
   //    display: flex;
   //    align-items: center;
   //    justify-content: space-between;
   //    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

   //    &-user {
   //       display: flex;
   //       align-items: center;
   //       .image-frame {
   //          height: 45px;
   //          width: 45px;
   //       }
   //       & img {
   //          border-radius: 50%;
   //          height: 100%;
   //          width: 100%;
   //          object-fit: cover;
   //          object-position: center;
   //       }
   //       & h2 {
   //          margin-left: 8px;
   //       }
   //    }

   // }

   .menu-body {
      padding-top: 60px;
      position: relative;
      height: 100%;
      .list-item {
         display: flex;
         align-items: center;
         justify-content: space-between;
         position: relative;
         height: 40px;

         list-style-type: none;
         font-size: 1.8rem;
         font-weight: 500;
         cursor: pointer;
         padding: 0 15px;
      }

      .switch {
         border-radius: 99px;
         background: #eee;

         &__wrapped {
            position: relative;
            margin: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::before {
               content: "";
               position: absolute;
               height: 100%;
               background-color: #fff;
               box-shadow: 2px 2px 8px rgba($color: #000, $alpha: 0.15);
               width: 22px;
               border-radius: 50%;
               transition: transform linear 0.25s;
               left: 0;
            }
         }

         .sun {
            margin-left: 4px;
            color: #f39c12;
         }

         .moon {
            color: #f39c12;
         }

         &.dark {
            background-color: #666;
            .switch__wrapped::before {
               left: unset;
               transform: translateX(calc(100% + 4px));
            }
         }
      }
   }

   .cr {
      font-size: 1.2rem;
      position: absolute;
      bottom: 30px;
      left: 10px;
   }
}

// submenu
.level2 {
   overflow: auto;
   background-color: var(--body-color);
   .level2-content {
      padding: 0 10px;
      .menu-back-btn {
         color: inherit;
         border: none;
         padding: 5px;
         margin-top: 15px;
      }
      .info-submenu {
         display: none;
      }
   }
}
.separate {
   margin-top: 30px;
   padding-top: 30px;
}

// info submenu
.info-submenu {
   padding-bottom: 60px;
   .user-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 0 auto;
      img {
         height: 100%;
         width: 100%;
         object-fit: cover;
         object-position: center;
         border-radius: 50%;
         border: 2px solid var(--primary-color);
      }
   }
   .user-overall {
      text-align: center;
      margin-top: 20px;
      .user-name {
         font-size: 1.8rem;
         font-weight: 600;
      }
      // .user-jobs {
      //    font-size: 1.6rem;
      // }
   }

   .main-info {
      padding: 0;

      .group {
         list-style: none;

         &__skill {
            text-align: center;
            > * + * {
               margin-top: 6px;
            }
         }
      }
   }

   .contact {
      text-align: center;
      margin-top: 30px;
      a {
         display: inline-flex;
         align-items: center;
         justify-content: center;
         background-color: rgba($color: #000, $alpha: 0.1);
         height: 40px;
         width: 40px;
         border-radius: 50%;
         transition: scale linear 0.15 s;
         color: inherit;
         padding: 10px;
         & + a {
            margin-left: 6px;
         }
         &:hover {
            filter: brightness(90%);
         }
      }
   }
}
