@import "common";

@include sm {
   .player {
      display: flex;
      height: 100vh;

      .dashboard {
         position: relative;
         width: 50%;
         border: none;

         display: flex;
         flex-direction: column;
         justify-content: center;
         height: 100%;

         .volume-slider {
            height: 6px;
         }
         .time-slider {
            height: 6px;
         }

         .song-lyric {
            font-size: 2.6rem;
         }
      }

      .song-list {
         width: 50%;
         padding-top: 10px;
         overflow: auto;
      }

      .duration {
         height: 13px;
      }
   }
}
