@import "common";


@include sm {
   .player {
      flex-direction: row;

      .dashboard-container {
         width: 50%;
         border: none;

         .volume-slider {
            height: 6px;
         }
         .time-slider {
            height: 6px;
         }

         .song-lyric {
            font-size: 2.6rem;
         }
      }

      .song-list {
         padding-top: 10px;
      }

      .duration {
         height: 13px;
      }
   }
}
