.song-item {
   padding: 12px;
   display: flex;
   background-color: #fff;
   border-radius: 6px;
   overflow: hidden;
   cursor: pointer;

   + {
      .song-item {
         margin-top: 8px;
      }
   }
   &.active {
      background-color: rgb(243, 88, 88) !important;
      color: #fff;
   }

   .song-frame {
      width: 44px;
      height: 44px;
      flex-shrink: 0;
      border-radius: 99px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      font-size: 2.5rem;
      color: white;
      font-weight: 500;
   }

   .song-info {
      overflow: hidden;
      flex-grow: 1;
      h2 {
         font-size: 1.8rem;
         font-weight: 500;

         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
      }
      h4 {
         font-size: 1.6rem;
         font-weight: 500;
         opacity: 0.6;

         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
      }
   }
}
