.playlist {
   padding-top: 368px;
   .song-list {
      padding: 10px 7px 10px;
   }
}
.song-item {
   padding: 5px;
   display: flex;
   align-items: center;
   height: 90px;
   width: 100%;
   background-color: #fff;
   border-radius: 3px;
   + {
      .song-item {
         margin-top: 8px;
      }
   }
   &.active {
      background-color: rgb(243, 88, 88) !important;
      color: #fff;
   }

   .song-frame {
      width: 75px;
      height: 75px;
      flex-shrink: 0;
      padding: 5px;
      margin-right: 10px;
      overflow: hidden;

      .song-img {
         padding-top: 100%;
         border-radius: 50%;
         background-size: cover;
      }
   }

   .song-info {
      h2 {
         font-size: 1.8rem;
         font-weight: 400;
         display: -webkit-box;
         overflow: hidden;
         text-overflow: ellipsis;
         -webkit-box-orient: vertical;
         -webkit-line-clamp: 1;
      }
      h4 {
         font-size: 1.2rem;
         margin-top: 5px;
         font-weight: 400;
      }
   }
}
