.song-item {
   padding: 8px;
   background-color: #fff;
   border-radius: 6px;
   overflow: hidden;
   cursor: pointer;

   + {
      .song-item {
         margin-top: 8px;
      }
   }
   &.active {
      background-color: rgb(243, 88, 88) !important;
      color: #fff;
   }

   overflow: hidden;
   flex-grow: 1;
   h2 {
      font-size: 1.8rem;
      font-weight: 500;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
   }
   h4 {
      font-size: 1.6rem;
      font-weight: 500;
      opacity: 0.6;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
   }
}
