.playlist {
   padding-top: 416px;
   .song-list {
      padding: 10px 8px 10px;
   }
}
.song-item {
   padding: 5px 10px;
   display: flex;
   align-items: center;
   height: 90px;
   width: 100%;
   background-color: #fff;
   border-radius: 3px;
   + {
      .song-item {
         margin-top: 8px;
      }
   }
   &.active {
      background-color: rgb(243, 88, 88) !important;
      color: #fff;
   }

   .song-frame {
      width: 54px;
      height: 54px;
      flex-shrink: 0;
      border-radius: 99px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      font-size: 2.5rem;
      color: white;
      font-weight: 500;

      // .song-img {
      //    padding-top: 100%;
      //    border-radius: 50%;
      //    background-size: cover;
      // }
   }

   .song-info {
      h2 {
         font-size: 1.8rem;
         font-weight: 500;
         display: -webkit-box;
         overflow: hidden;
         text-overflow: ellipsis;
         -webkit-box-orient: vertical;
         -webkit-line-clamp: 1;
      }
      h4 {
         font-size: 1.4rem;
         font-weight: 500;
         margin-top: 5px;
      }
   }
}
